.container {
  width: 950px;

  margin: 0 auto;
}

.header {
  height: 72px;

  display: flex;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

  color: #fff;
  background: #292929;

  a {
    text-decoration: none;
    color: #fff;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    .item {
      cursor: pointer;
    }
  }

  .cart {
    display: flex;
    align-items: center;
    gap: 8px;

    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    cursor: pointer;

    .count {
      padding: 5px 10px;

      position: absolute;
      right: -45px;

      border-radius: 20px;

      background: #212121;
    }
  }
}
